#content_1
  ul
    each post in posts
      li
        a=post.title
      li
        p=post.content
      li
        p=post.author
        p=post.createTime
                                                               